<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <ul class="list-inline">
                <li>{{#link-to "index"}}Home{{/link-to}}</li>
                {{#if session.isAuthenticated}}
                <li>{{#link-to "splats"}}Splats{{/link-to}}</li>
                {{/if}}
            </ul>
        </div>
        <div class="col-sm-6">
            <p class="pull-right">
            {{#if session.isAuthenticated}}
                <img title="{{session.currentUser.email}}" alt='{{session.currentUser.email}}' class="img-circle" src="{{session.currentUser.profileImageURL}}">
                <button class="btn btn-default" {{action "signOut"}}>Sign out</button>
            {{else}}
                 <div class="form-group">
                    {{input class="form-control" type="email" value=email placeholder="Email"}}
                    {{input class="form-control" type="password" value=password placeholder="Password"}}
                </div>
                <div class="form-group">
                    <button class="btn btn-default" {{action "signIn" "password" email password}}>Sign in</button>
                    <button class="btn btn-default" {{action "signUp" email password}}>Sign up</button>
                </div>
            {{/if}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3 col-sm-8 col-sm-push-2 text-center">
            {{outlet}}
        </div>
    </div>
</div>